@import url(./reset.css);
@import url(./trans.css);

/* fondo gris= #f8f7f2
azul texto remarcado articles + marco boton= #038ace
amarillo marco fotos article= #fcee35
color texto articles= #818181
gris fondo boton= #808080*/

body {
    font-size: 1em;
    background-color: #f8f7f2;
}

main img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: -12.5%;
}

main .hero {
    height: 500px;
    overflow: hidden;
    max-width: 1400px;
}