header {
    height: 7rem;
    width: 100%;
}

header h1 {
    font-size: 3rem;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    position: absolute;
    left: 17rem;
    top: 1rem;
}