@import url(reset.css);

body {
    font-size: 1em;
}

header {
    height: 200px;
    width: 100%;
}

header h1 {
    font-size: 3em;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    position: absolute;
    left: 5em;
    top: 0.35em;
}

img {
    width: 100%;
    display: block;
    height: auto;
}

h2 {
    display: none;
}

article {
    display: inline-block;
}